@model SignalRWebUI.Dtos.TestimonialDtos.UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Referans Güncelleme</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Sosyal Medya ID'si</label>
                                <input type="text" asp-for="TestimonialID" class="form-control" readonly="readonly">

                                <br/>

                                <label>Referans Adını Giriniz</label>
                                <input type="text" asp-for="Name" class="form-control">

                                <br />

                                <label>Referans Ünvan Giriniz</label>
                                <input type="text" asp-for="Title" class="form-control">

                                <br />

                                <label>Referans Yorumu Giriniz</label>
                                <input type="text" asp-for="Comment" class="form-control">

                                <br />

                                <label>Referans Görsel URL Giriniz</label>
                                <input type="text" asp-for="ImageUrl" class="form-control">

                                <br />

                                <label>Görüntülenme Durumu</label>
                                <select asp-for="Status" class="form-control">
                                    <option value="true">Gözüksün</option>
                                    <option value="false">Gözükmesin</option>
                                </select>

                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Referans Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>