@model SignalRWebUI.Dtos.DiscountDtos.CreateDiscountDto
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İndirim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İndirim Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Başlık</label>
                                <input type="text" asp-for="Title" class="form-control" id="categoryname">
                                <br />
                                <label for="categoryname">Değer</label>
                                <input type="text" asp-for="Amount" class="form-control" id="categoryname">
                                <br />
                                <label for="categoryname">Açıklama</label>
                                <input type="text" asp-for="Description" class="form-control" id="categoryname">
                                <br />
                                <label for="categoryname">Görsel URL'si</label>
                                <input type="text" asp-for="ImageUrl" class="form-control" id="categoryname">

                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">İndirim Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


