@model SignalRWebUI.Dtos.FeatureDtos.UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Öne Çıkan Alan Güncelleme</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Önce Çıkan ID</label>
                                <input type="text" asp-for="FeatureID" class="form-control" readonly="readonly">
                                <br/>
                                <label for="categoryname">Başlık 1</label>
                                <input type="text" asp-for="Title1" class="form-control">
                                <br/>
                                <label for="categoryname">Başlık 2</label>
                                <input type="text" asp-for="Title2" class="form-control">
                                <br/>
                                <label for="categoryname">Başlık 3</label>
                                <input type="text" asp-for="Title3" class="form-control">
                                <br/>
                                <label for="categoryname">Açıklama 1</label>
                                <input type="text" asp-for="Description1" class="form-control">
                                <br/>
                                <label for="categoryname">Açıklama 2</label>
                                <input type="text" asp-for="Description2" class="form-control">
                                <br/>
                                <label for="categoryname">Açıklama 3</label>
                                <input type="text" asp-for="Description3" class="form-control">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Öne Çıkan Alan Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


