@model SignalRWebUI.Dtos.CategoryDtos.UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Kategori Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Kategori ID</label>
                                <input type="text" asp-for="CategoryID" class="form-control" readonly="readonly">

                                <label for="categoryname">Kategori Adı</label>
                                <input type="text" asp-for="CategoryName" class="form-control">

                                <label for="categoryname">Kategori Statü</label>
                                <select asp-for="Status" class="form-control">
                                    <option value="true">Gözüksün</option>
                                    <option value="false">Gözükmesin</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Kategoriyi Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


